<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<body>
    <div id="app">
        <header>
        <div class="container flex">
            <img src="assets/img/boolflix.png" alt="">
            <div class="container_input flex">
                <input class="inputTextSearch" type="text" placeholder="Cerca un film" v-model="search" v-on:keyup.enter="searchMoviesInput()"> 
                <button class="input_button"@click="searchMoviesInput()">Cerca</button>
            </div>
          </div>
        </header>
        
        <div class="movies-container">
          <div class="movie" v-for="movie in listMovies">
            <h2>{{movie.title}}</h2>
            <span class="original_title">{{movie.original_title}}</span>
            <span>
                <img :src=`https://www.countryflags.io/${movie.original_language}/shiny/64.png`>
            </span>
            <span>
            <i v-for="starfull in movie.vote_average" class="fas fa-star"></i>
            <i v-for="starempty in (5 - movie.vote_average)" class="far fa-star"></i>
            </span>
          </div>
        </div>
        <!-- Frecce per cambiare le pagine -->
        <div class="arrow flex">
            <button @click="arrowLeft()">
                <i class="fas fa-arrow-left arrowLeft"></i>
            </button>
            <button @click="arrowRight()">
                <i class="fas fa-arrow-right arrowRight"></i>
            </button>
        </div>
        <!-- /Frecce per cambiare le pagine -->
      </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./assets/js/main.js"></script>
</body>
</html>