* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background: #1e2d3b;
    min-height: 100vh;
  }

  .flex{
    display: flex;
  }
  
  .container {
    width: 1070px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }

  .container_input{
    align-items: center;
  }
  
  header {
    width: 100%;
    height: 70px;
    background: rgb(46, 58, 70);
  }

  .inputTextSearch{
    height: 30px;
    width: 200px;
    font-style: italic;
    font-size: 1rem;
    outline: none;
    border-style: none;
    padding-left: 5px;
  }

  .input_button{
    height: 30px;
    border-radius: 5%;
    width: 50px;
    margin-left: 10px;
    border-style: none;
    cursor: pointer;
  }
  
  .movies-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
  }
  
  .movie {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 20%;
    padding: 10px;
    margin: 10px 20px;
    height: 400px;
    background: rgb(46, 58, 70);
    text-align: center;
  }
  
  .movie img {
    max-width: 100%;
  }
  
  .movie h3 {
    margin: 20px 0;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
  }
  
  .movie span.original_title {
    color: grey;
    font-size: 20px;
  }
  
  .movie span.original_language {
    color: grey;
  }
  
  #genre {
    float: right;
    margin-top: 25px;
  }

  .arrow{
      justify-content: center;
      margin-bottom: 100px;
  }

  .arrowLeft ,.arrowRight{
    font-size: 20px;
  }
  