* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background: #1e2d3b;
  }

  .flex{
    display: flex;
  }
  
  h2 {
    font-size: 35px;
    margin: 30px 50px;
  }

  .container_header {
    width: 1070px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }

  .container_main{
    width: 100vw;
    height: 100%;
    margin: 40px auto;
  }

  .container_input{
    align-items: center;
  }
  
  header {
    width: 100%;
    height: 70px;
    background: rgb(46, 58, 70);
  }

  .inputTextSearch{
    height: 30px;
    width: 300px;
    font-style: italic;
    font-size: 1rem;
    outline: none;
    border-style: none;
    padding-left: 5px;
  }

  .input_button{
    height: 30px;
    border-radius: 5%;
    width: 50px;
    margin-left: 10px;
    border-style: none;
    cursor: pointer;
  }
  .movies_container ,.tvShows_container {
    align-items: center;
    justify-content: center;
  }
  
  .movie-container ,.tvShow-container {
    align-items: center;
    overflow-x: scroll;
    margin: 0 20px;
  }

  .movieCard .poster, .tvShowCard .poster{
    width: 342px;
    height: 480px;
  }
  
  .movie h3 {
    margin: 20px 0;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
  }
  
  .movie span.original_title {
    color: grey;
    font-size: 20px;
  }
  
  .movie span.original_language {
    color: grey;
  }
  
  .movieCard , .tvShowCard{
    position: relative;
  }

  .movieInfoCard, .tvShowInfoCard{
    color: white;
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .movieCard:hover .movieInfoCard, .tvShowCard:hover .tvShowInfoCard{
    display: block;
    background-color: rgba(0, 0, 0, .9);
  }

  .arrow{
    margin: 0 20px;
  }

  .arrowLeft ,.arrowRight{
    font-size: 20px;
  }
  